@import "bootstrap/bootstrap.less";
@import "colors.less";
@import "menu.less";
/*///////////////////////////////////////////////////////
-----------------------Base HTML-----------------------
///////////////////////////////////////////////////////*/
body {
    font-family:'lato';
    font-weight:400;
    font-size:12px;
    @media(min-width:768px){font-size:14px;}
    @media(min-width:992px){font-size:17px;}
    color:@black;
    background:#fff;
}
/*Page Loader Animation*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @brand-pri;
    .gradient( right, lighten(@brand-pri,8%), lighten(@brand-blue,29%) );
    z-index: 99;
}
h1,h2,h3,h4,h5,p,ul{margin:0;margin-bottom:0.5em;}
h1{font-size:1.9em;}
h2{font-size:1.7em}
h3{font-size:1.3em;}
h4{font-size:1em;}
input{margin-bottom: 0.75em;} 
a{ 
    text-decoration: none; color: inherit;
    &:hover,&:active,&:focus{text-decoration:none;color:inherit;}
}
hr{border-top-color:lighten(@brand-tri,20%);}
.formthing{
  width:100% !important;
}
table{
  td,th{padding:11px !important;}
}
td,th{padding:11px !important;}
tr{td,th{padding:11px !important;}}
/*///////////////////////////////////////////////////////
-----------------------Base Elements---------------------
///////////////////////////////////////////////////////*/
.row{margin:2em 0; }
.btn{padding: 1em; color:#fff;}
.form-group{padding:0 10px;}
/*--------------------------
          Wrappers
--------------------------*/
//CONTAINS BOTH USER AND MAIN CONTENT PANELS
.main-wrapper{
  //to account for fixed nav bar
  padding-top: 4em;
}
/*--------------------------
        Content Panel
--------------------------*/
// SETTING MAX WIDTH OF ALL CONTENT WITHIN "COL-MD-10 MAIN-CONTENT" PORTIONS
.main-content{ 
    padding:0.2em;
    @media(min-width:520px){padding: 0 2.4em;}
    background:#fff;
}
#form1{max-width:43em; margin:0 auto;}
/*--------------------------
        User Panel
--------------------------*/
//COL-MD-2 USER INFORMATION STYLING
.user-info{
  #lblUserName{font-size:1.5em;}
  background: #eee;
  .gradient( right, lighten(@brand-tri,8%), lighten(@brand-tri,29%) );
  position: fixed;
  color:#fff;
  height: 100vh;
  img{
    max-width: 100%;
    margin: 1em 0;
  }
  .usr-options{
    .btn-primary{
        width:100%; margin:0.65em 0; 
        background:@brand-blue; border:none;
        &:hover{background:darken(@brand-blue,10%);border:none;}
    }
  }
  display:none;
  @media(min-width:992px){display:block;}
}
// Calendar Widget
//Calendar Title
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
	border: none !important;
	background: @brand-pri;
	font-weight: normal;
	color: #fff;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
  padding:0 !important;
}
.ui-state-default,.ui-widget-content.ui-state-default,.ui-widget-header.ui-state-default,
.ui-state-hover,.ui-widget-content.ui-state-hover,.ui-widget-header.ui-state-hover,.ui-state-focus,.ui-widget-content.ui-state-focus,.ui-widget-header.ui-state-focus{border:none !important}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header.ui-state-highlight {
    border: none;
    background: #188EA8;
    color: #fff;
}
/*///////////////////////////////////////////////////////
---------------------Reusable Classes--------------------
///////////////////////////////////////////////////////*/

//TOP-OF-PAGE TITLES
/*--------------------------
           Titles
--------------------------*/
.section-title{
  font-weight:700;
  margin: 1em 0; padding-bottom: 0.5em;
}
h1.section-title{
    border-bottom:none;
    padding-bottom:0; 
    font-size: 2.75em;
    text-align: center;
    @media(min-width:560px){
        font-size:3.2em;
        text-align: left;
    }  
}
/*--------------------------
       Borders & Stuff
--------------------------*/
// ADD CLASS TO ANY EXISTING DIV THAT NEEDS THE DEFAULT BOX SHADOW
.box-border{
    box-shadow: 0 2px 18px lighten(@black,40%);
    border:1px solid #ccc;
}




/*///////////////////////////////////////////////////////
-------------------Project Panel Styles------------------
///////////////////////////////////////////////////////*/

//PROJECT SUMMARY PANELS FOUND ON MAINPAGE.ASPX AND PROJECTS/PROJECT-NAME.ASPX

.project-title{
  margin: 0.5em 0 0 0; font-weight:400;
}
.project-update-date{
  margin: 0.5em 0 1em 0; font-style: italic;
}
.project-instance{
  margin:2em 0 4em 0;
  padding-bottom:2em;
  .well{
      padding-left:0.1em;
      h3{text-align:center;margin-bottom:1.5em;} 
      a{
          color:@blue;
          &:hover{color:darken(@blue,10%)}
      }
  }
  @media(min-width:520px){
      .well{padding:19px;}
  } 
  .project-instance-title{
      background:@brand-tri; color:#fff;
      padding:1em 2em; width:100%;
  }
    .updated-list{margin-top:2em;}
}
//NOW BEING USED TO BOLD REPORT LIST ELEMENTS ON PROJECT SUMMARY PANELS
span.highlight-change{font-weight: 700;}

/*--------------------------
         Timeline
--------------------------*/
.timeline{
    margin-top:2em;
    padding:2em 2em 2.5em 2em;
    background:transparent;
    h3{
        text-align: center;
        margin-bottom: 1.5em;
    }
    ul{
      width:100%;
      position:relative; display:block; 
      margin: 0 auto; height:4px; padding:0;
      background:@brand-blue;
      //SETTING UP POSITIONS/SIZES OF TIMELINE DOTS
      li{
        position: relative; top:-63px;
        display: inline-block; float:left;
        transform:rotate(-45deg);
        font-weight:700; width: 120px; margin:0 6em;
        &::before{ 
          content:"";
          position: absolute;
          top:3px; left:-29px; display:block;
          width:9px; height:9px; 
          border:7px solid @brand-blue;
          border-radius:50%;
        }
        //HOVER COLORS N STUFF
        &:hover{
          cursor:pointer;
          &::before{
            top: 3px;
            left: -29px;
            width: 9px;
            height: 9px;
            border-width: 7px;
            border-color: lighten(@brand-pri,10%);
          }
          &:first-child .details, &:last-child .details{
            top:31px; left:-80px;
          }
          &:last-child{
            &::before{
              border:12px solid lighten(@brand-pri,10%);
              background:lighten(@brand-pri,10%);
              //left: -30px;
            } 
          }
        }
        &:hover .details{
          display: block;
          color: #444;
        }
        &:first-child{
          left:-4px; position:relative;
          margin:0;
        }
        //SETTING POSITIONS OF EACH DOT
        &:last-child{
          right:0px; position:relative; 
          //margin-right:-5.65em;
          margin-left:96%;
          @media(min-width:600px){margin-left:98%}
          &::before{
            border:12px solid @brand-pri;
          } 
        }
        &:nth-child(2){ 
          margin-left:30%;
        } 
        &:nth-child(3){ 
          margin-left:65%;
        } 
      }
      // HIDDEN HOVER DESCRIPTION OF EACH DOT
      .details {
        display: none;
        position: absolute;
        left: -85px;
        top: 40px;
        padding: 15px;
        border-radius: 3px;
        border-right: 2px solid rgba(0,0,0,.1);
        border-bottom: 2px solid rgba(0,0,0,.1);
        transform: rotate(45deg);
        font: 12px arial;
        background: #fff;
        &::before{
          content: "";
          position: absolute;
          left: 10px;
          top: -9px;
          display: block;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-bottom-color: #fff;
          border-top: 0;
        }
      } 
    }
  }



/*///////////////////////////////////////////////////////
-----------------------Login Page------------------------
///////////////////////////////////////////////////////*/
.login{
    #ValidationSummary{
        color: lighten(@brand-tri,25%) !important; background-color: lighten(#e2e1e9,6%);
        padding:10px; box-shadow: 0 1px 2px #ccc;
        border: 1px solid #efefef;
        ul{
            margin:0 auto; padding-left: 25px;
            li{font-weight:700; padding:2px;}
        }
    }
   nav{.nav{display:none} ul{li{display:none}}}
   .user-info{display:none;}
   .main-content{background:transparent;margin:0 auto; width:100%;}
   .gradient( left, darken(#663333,7%), lighten(@brand-pri,10%) );
   .login-wrapper{
        h1{
            margin-bottom:0.75em;font-size:2.2em; font-weight:400;
            display:inline;
        }
        img{display:inline;width:1em;}
        margin: 0 auto; margin-top: 4em; margin-bottom:4em;
        box-shadow: 0 2px 18px @black;
        max-width: 22em; width: 90%;
        padding: 1.8em 1.75em 1em 1.75em; background-color: #fefefe;
        font-size:17px;
        input,#lblStatus{width: 100% !important;display:block;}
        .btn{margin:0.5em 0;font-weight:700; font-size:1em;}
        button{width:100%;margin:0.5em 0;}
        .form-group{
            p a{
                color:lighten(@brand-tri,25%);
                &:hover{color:lighten(@brand-tri,15%);}
            }
        }
    }
}



/*///////////////////////////////////////////////////////
-----------------------Report Body-----------------------
///////////////////////////////////////////////////////*/

/*
    ALL COMPONENTS REQUIRED FOR STYLING A REPORT
*/

//Parent panel of report / set margins between each
.report-group{margin:2em 0}

//Title of report ONLY
.report-title{
    background: @brand-pri;
    color: #fff;
    padding: 2em;
    h1{margin:0;}
}
//Individual section of report - where the form elements go
.client-wrapper, .report-wrapper{
    width:100%; margin:0 auto;
    padding:3em; background:#fff; 
    border-bottom:2px dotted #999;
    &:last-child{border-bottom:none}
    .form-group{
        select{padding:0;}
    }
}
.client-wrapper{margin:2em 0}

// ONLY USE ON DROP DOWN "ADD NEW REPORT?" SECTION
.add-report{
    .report-title{
        background:@brand-tri;
        &:hover{background:lighten(@brand-tri,5%)}
        &:hover,h1:hover{cursor:pointer;}
        h1:hover{color:lighten(#fff,10%);}
    }
    //decrease default wrapper padding, we only have one dropdownlist in this div
    .report-wrapper{
        padding:1em 2em 2em;
    }
    //hide until clicked on
    .report-list-section{display:none;}
}
//Add new row of inputs
.btn-new-row{
  padding: 0.45em 1em;
  @media(min-width:992px){margin-top:2em;}
}
/*///////////////////////////////////////////////////////
--------------------Client Directory---------------------
///////////////////////////////////////////////////////*/
.client-directory{
  h1.section-title{margin-bottom:0.4em}
  p{
    margin-bottom:1em;
    img{width:1em;}
  }
}
.client-search-aside{
  position:absolute;
  left:2.5%; top:12em;
}

#project-PAR{
  th,td{padding:11px;}
}