@import "bootstrap/bootstrap.less";
@import "colors.less";
/*///////////////////////////////////////////////////////
-----------------------Base Styles-----------------------
///////////////////////////////////////////////////////*/
body {
    font-family:'lato';
    font-weight:400;
    font-size:12px;
    @media(min-width:768px){font-size:14px;}
    @media(min-width:992px){font-size:17px;}
    color:@black;
    background:#fff;
}
h1,h2,h3,h4,h5,p,ul{margin:0;margin-bottom:0.5em;}
h1{font-size:2.1em;}
h2{font-size:1.7em}
h3{font-size:1.3em;}
h4{font-size:1em;}
a{ 
    text-decoration: none; color: inherit;
    &:hover,&:active,&:focus{text-decoration:none;color:inherit;}
}
.row{ margin:1em 0; }
.btn{padding: 1em; color:#fff;}
input{margin-bottom: 0.75em;}
.form-group{padding:0 10px;}
/*///////////////////////////////////////////////////////
--------------------Universal Classes--------------------  
///////////////////////////////////////////////////////*/
.main-wrapper{
  //to account for fixed nav bar
  padding-top: 4em;
}
.section-title{
  font-weight:700;
  margin: 1em 0; padding-bottom: 0.5em;
}
h1.section-title{
    border-bottom:1px solid @black;
}
.user-info{
  background: #eee;
  .gradient( right, lighten(@brand-tri,8%), lighten(@brand-tri,29%) );
  position: fixed;
  color:#fff;
  height: 100vh;
  img{
    max-width: 200px;
    height: 180px;
    margin: 1em 0;
  }
  .usr-options{
    .btn-primary{
        width:100%; margin:0.65em 0; 
        background:@green; border:none;
        &:hover{background:darken(@green,10%);border:none;}
    }
  }
  display:none;
  @media(min-width:992px){display:block;}
}
.project-title{
  margin: 0.5em 0 0 0; font-weight:600;
}
.project-update-date{
  margin: 0.5em 0 1em 0; font-style: italic;
}
span.highlight-change{font-weight: 700;}
.project-instance{
  margin:2em 0 4em 0;
  border:1px solid #ccc;
  padding-bottom:2em;
  .well{
      padding-left:0.1em;
      h3{text-align:center;margin-bottom:1.5em;} 
      a{
          color:@blue;
          &:hover{color:darken(@blue,10%)}
      }
  }
  @media(min-width:520px){
      .well{padding:19px;}
  } 
  box-shadow: 0px 4px 20px #ededed;
  .project-instance-title{
      background:@brand-tri; color:#fff;
      padding:1em 2em; width:100%;
  }
/*/////////////////////////////
------------TimeLine-----------
/////////////////////////////*/  
.updated-list,.timeline{margin-top:2em;}
.timeline{
    padding:2em 2em 2.5em 2em;
    background:transparent;
    ul{
      width:100%;
      position:relative; display:block; 
      margin: 0 auto; height:4px; padding:0;
      background:@black;
      li{
        position: relative; top:-63px;
        display: inline-block; float:left; width:139px;
        transform:rotate(-45deg);
        font-weight:700; width: 120px; margin:0 6em;
        &::before{ 
          content:"";
          position: absolute;
          top:3px; left:-29px; display:block;
          width:9px; height:9px; 
          border:7px solid @brand-tri;
          border-radius:50%;
        }
        &:hover{
          cursor:pointer;
          &::before{
            top: 1px;
            left: -29px;
            width: 9px;
            height: 9px;
            border-width: 7px;
            border-color: lighten(#DB0A5B,10%);
          }
          &:first-child .details, &:last-child .details{
            top:31px; left:-80px;
          }
          &:last-child{
            &::before{
              border:12px solid lighten(#DB0A5B,10%);
              background:lighten(#DB0A5B,10%);
              //left: -30px;
            } 
          }
        }
        &:hover .details{
          display: block;
          color: #444;
        }
        &:first-child{
          left:-4px; position:relative;
          margin:0;
        }
        &:last-child{
          right:0px; position:relative; 
          //margin-right:-5.65em;
          margin-left:96%;
          @media(min-width:600px){margin-left:98%}
          &::before{
            border:12px solid #DB0A5B;
          } 
        }
        &:nth-child(2){ 
          margin-left:30%;
        } 
        &:nth-child(3){ 
          margin-left:65%;
        } 
      }
      .details {
        display: none;
        position: absolute;
        left: -85px;
        top: 40px;
        padding: 15px;
        border-radius: 3px;
        border-right: 2px solid rgba(0,0,0,.1);
        border-bottom: 2px solid rgba(0,0,0,.1);
        transform: rotate(45deg);
        font: 12px arial;
        background: #fff;
        &::before{
          content: "";
          position: absolute;
          left: 10px;
          top: -9px;
          display: block;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-bottom-color: #fff;
          border-top: 0;
        }
      } 
    }
  }
}
.action-btn{
  background: #DB0A5B;
  width: 100px;
  height: 100px;
  text-align: center !important;
  padding-top: 25px;
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  box-shadow: -1px 5px 5px #858585;
  text-align: right;
  position: absolute;
  right: 0.5em;
  margin-top: -1.12em;
  transition:all ease-in-out 0.3s;
  &:hover{
    transition:all ease-in-out 0.4s;
    box-shadow: inset 0px 0px 5px #aaa; //0px 1px 5px #999;
    background: lighten(#DB0A5B,5%);
  }
}
.updated-list{ul{li{margin: 0.5em 0;}}}
.click-options{
  width: 140px;
  position: relative;
  right: 0; top: 0;
}

/*///////////////////////////////////////////////////////
                        Nav Bar  
///////////////////////////////////////////////////////*/
nav{
  position: fixed; z-index: 999;
  background-color: @brand-tri;
  color: #fff;
  padding: 0.6em 0;
  width: 100%;
  h1,ul{margin:0;}
  ul{
    vertical-align: middle;
    position: relative;
    text-align: right;
    list-style-type: none;
    margin-right:1em;
    h1.nav-logo{
        float:left;
        position:relative;
        top:0.1em;
        display:block;
        width:100%;
        @media(min-width:520px){
            display:inline-block; width:auto;
        }
    }
    a{ 
        text-decoration: none; color: #fff;font-weight: 400;
        &:hover{text-decoration:none;color:@brand-pri;}
    }
    li{
      padding: 0 1em;display: inline-block;
      p.action-btn{position: absolute;right: 0;top: 0;height: 2.53em;z-index: 10;box-shadow: none;}
    }
  }
  .btn-group{
    .dropdown-menu{
         left:auto; right:0 !important;  
        .divider{width:100%}
    }
  }
  //.dropdown-menu{ left:auto; right:0 !important; }
}
/* 
    ---------------------OLD MENU
ul.menu-hide{
  background: rgba(34, 49, 63,0.9);padding: 1em;top:-8em;transition:all 0.5s ease-in-out;
  vertical-align: middle;
  li{display: inline-block; padding: 0 2em;}
}
ul.menu-hide-pos{top: 4.15em;z-index: 99;}
*/
/*///////////////////////////////////////////////////////
-----------------------Login Page------------------------
///////////////////////////////////////////////////////*/
.login{
   nav{ul{li{display:none}}}
   .user-info{display:none;}
   .home-updates{background:transparent;margin:0 auto; width:100%;}
   background-size: cover;
   //background: url('/assets/img/login.jpg') center center no-repeat !important;
   background:#efefef;
   /* Implementation */
   .gradient( left, darken(#663333,7%), lighten(#DB0A5B,10%) );
   .login-wrapper{
    margin: 0 auto; margin-top: 4em; margin-bottom:4em;
    box-shadow: 0 2px 18px @black;
    max-width: 22em; width: 90%;
    padding: 2.5em 1.75em 1em 1.75em; background-color: #fefefe;
    input,#lblStatus{width: 100% !important;display:block;}
    .btn{margin:1.5em 0;font-weight:700; font-size:1em;}
    .form-group{
        p a{
            color:lighten(@brand-tri,25%);
            &:hover{color:lighten(@brand-tri,15%);}
        }
    }
  }
}
/*///////////////////////////////////////////////////////
------------------------Home Page-----------------------
///////////////////////////////////////////////////////*/
.home-updates{ 
    padding:0.2em;
    @media(min-width:520px){padding: 0 2.4em;}
    background:#fff;

}

/*///////////////////////////////////////////////////////
----------------------Client Login-----------------------
///////////////////////////////////////////////////////*/
.client-wrapper{
    width:90%; max-width:45em; margin:0 auto; margin-top:4em; margin-bottom:4em;
    padding:3em; background:#fff; box-shadow: 0 2px 18px lighten(@black,40%);
    .form-group{
        select{padding:0;}
    }    
}
/*///////////////////////////////////////////////////////
----------------------Bid Process-----------------------
///////////////////////////////////////////////////////*/
.design-bid{
    background:#fff;
    .add-new{.section-title{margin-bottom:0.25em;}}
}
.bid-wrapper{
    float:left; width:100%;margin:0 auto; margin-top:2em; margin-bottom:2em;
    padding:3em; background:#fff; box-shadow: 0 2px 18px lighten(@black,40%);
}